html,
body{
    width:100%;
    height:100%;
}
#title {
    color: #00FFFF;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(100, 100, 0, 0.4),
    rgba(0, 0, 0, 0)),
    url('img/balloon-1.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}
.header-text {
    /*text-align: center;*/
    vertical-align: middle;
    display: table-cell;
}
h1 {
    font-size: 100px;
    font-family: 'Black Han Sans', sans-serif;
}
h2{
    font-size:40px;
    font-family: 'Dancing Script', cursive;
}
h4 {
    font-size:30px;
    font-family: 'Courgette', cursive;
}
.label {
    background-color: blue;
    display:table;
    width:100%;
    text-align:center;
}
.jumbotron {
    margin: 30px;
    background:skyblue;
}
#navbar {
    background-color:white;
}
.container-fluid {
    background:green;
}
blockquote {
    background:white;
}
    @media(min-width:768px) {
        h1 {
            font-size: 120px;
        }
    }

    @media(min-width:992px) {
        h1 {
            font-size: 140px;
        }
    }

    @media(min-width:1200px) {
        h1 {
            font-size: 160px;
        }
    }