html,
body{
    width:100%;
    height:100%;
}
.title {
    color: white;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url('img/balloon-1.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}
